<?php
$data=$this->getModelData();
$this->getToolbarHtml();
echo $block->getPagerHtml();
echo "<form action='Action/delete' method='POST'>";
echo "<table border=1>";
foreach ($data as $item) {
	echo '<tr><td>'.$item['id'].'</td><td>'.$item['name'].'</td><td>'.$item['Description'].'</td><td>'.$item['status'].'</td>';
	echo '<td>';
	echo '<input type="submit" name="id"  value ="'.$item['id'].'" </td>'; 
	echo '</tr>';
        }
echo '</table>';
echo '</form>';
?> 
<?php 
if ($block->getPagerHtml()): ?>
        <div class="order-products-toolbar toolbar bottom"><?php echo $block->getPagerHtml(); ?></div>
<?php endif ?>
<?php
echo '</br></br> <h4> add new entity </h4>';   
echo '<form action="Action/create" method="post">
        <input type="text" name="name" value="name1"> 
		<input type="text" name="Description" value ="desc1"> 
		<input type="text" name="status" value="status1"> 
 		<input type="submit" value="create"></li>
		</form>';   
?> 
